body {
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid black;
  height: 969px;
  width: 793px;
  margin: 0 auto;
}

.nome {
  background-color: #0a0a77;
  color: white;
  padding: 60px;
  text-align: center;
  font-size: 40px;
}

#direito {
  background-color: white;
  width: 62%;
  float: right;
  box-sizing: border-box;
  padding-right: 50px;
}

.resumo {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
}
.resumo2 {
  font-size: 13px;
  box-sizing: content-box;
  text-align: left;
  margin-left: 45px;
}

.xp {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
}

.xp2 {
  font-size: 13px;
  box-sizing: content-box;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  padding: 0 0 4px 33px;
  letter-spacing: 0.5px;
}

.empresa {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 20px;
  font-weight: bold;
}

.cargo {
  font-size: 15px;
  padding: 5px;
  margin: 0 0 5px 27px;
}

#esquerdo {
  background-color: #63c0e56e;
  width: 38%;
  height: 82%;
  box-sizing: border-box;
}

.contato {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin: 20px;
}

.ct1,
.ct2,
.ct3,
.ct4 {
  font-size: 15px;
}

.hab {
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
  padding-top: 14px;
}

.hab2 {
  font-size: 13px;
  text-align: left;
  list-style-type: disc;
  padding: 0 0 2% 7%;
  list-style-position: inside;
  letter-spacing: 0.5px;
}

.div__contato {
  padding: 2px;
}

.infad {
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
}

.linkedin {
  width: 30px;
  vertical-align: middle;
  padding: 0 0 0 25px;
}

.cel {
  width: 22px;
  vertical-align: middle;
  padding: 0 0 0 30px;
}

.email {
  width: 37px;
  vertical-align: middle;
  padding: 0 0 0 20px;
}

.git {
  width: 25px;
  vertical-align: middle;
  padding: 0 0 0 27px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
